body{
  background-color: white;
  font-family: 'Nunito', sans-serif; Arial, Helvetica, sans-serif;
}

.orangeBackground {
  background-image: linear-gradient(90deg, #fc8b56, #fcbd56);
}

.navbar{
  background-image: linear-gradient(90deg, #fc8b56, #fcbd56);
}
.pageName{
  display: block;
  background-image: linear-gradient(90deg, #fc8b56, #fcbd56);
  margin-bottom: 0;
}
.search{
color:white !important;
font-weight: 800;
font-size: 2em;
text-align: center;
}

.searchBtn{
  color: white;
  background-color: #fc8b56;
}

.desktop {
  display: none;
}

.card-image {
  float: left;
}

@media (min-width: 992px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}