body{
  background-color: white;
  font-family: 'Nunito', sans-serif; Arial, Helvetica, sans-serif;
}

.orangeBackground {
  background-image: linear-gradient(90deg, #fc8b56, #fcbd56);
}


.navbar{
  background-image: linear-gradient(90deg, #fc8b56, #fcbd56);
}
.pageName{
  display: block;
  background-image: linear-gradient(90deg, #fc8b56, #fcbd56);
  margin-bottom: 0;
}
.search{
  color:white !important;
  font-weight: 900;
  font-size: 1.5em;
  text-align: center;
}

.searchBtn{
  color: white;
  background-color: #fc8b56;
}

.desktop {
  display: none;
}

.card-image {
  float: left;
}

.recipe-name{
font-family: 'Nunito', Arial, Helvetica, sans-serif;
text-align: center;
font-weight: 800;
font-size: 1.5em;
}

.diet-labels{
  text-align: center;
}

.diet-labels span {
  margin: 0 5px;
}

.time{
  font-size: 1em;
  font-weight: 900;
  text-align: center;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #fc8b56;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.actions{
  margin-top: 5px;
  text-align: center;
}

.recipe-link{
  text-align: center;
  margin-top: 10px;
}

.recipe-information {
  display: none;
  margin-top: 140px;
}

.ingredient-image {
  width: 50px;
}
.ingredient{
  font-size: 1em;
  text-align: justify;
  margin: 10px;
  font-weight: 900;
  padding: 5px;
}

/*Media Queries*/
@media (min-width: 992px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .search{
    font-size: 2em;
  }
}