body {
  background-image: linear-gradient(90deg, #fc8b56, #fcbd56);
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.h2 {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1em;
  text-align: center;
  padding-left: 5%;
}

.title{
  color:white;
  font-size: 3em;
  padding-left: 4px;

}
.title span{
  font-weight: 700;
}

a:visited {
  color: white;
}


/*Media Queries*/
@media (min-width: 992px) {

   .title{
    text-align: center;
    font-size: 9em;
    
  }
}