
body {
  background-image: linear-gradient(90deg, #fc8b56, #fcbd56);
  font-family: Nunito, Arial, Helvetica, sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
}

.title {
  font-family: Nunito, Arial, Helvetica, sans-serif;
  color: white;
  font-size: 7em;
}

#title2 {
  text-align: center;
}
.title span {
  font-weight: 700;
}
.avatar {
  display: block;
  margin: 2px auto;
  padding-bottom: 0%;
  border-radius: 25%;
}
form.signup,
form.login {
  margin-top: 50px;
}
.btn {
  display: flex;
  padding-top: 5px;
}
